.content
{
	padding-top: 7em;
	padding-left: 4.5em;
	padding-right:  1em;
	margin-right: 0.2em;
	align-content: center;
	background: url("../IMG/whitepatternbackground.jpg");
		background-position: 100%;
		background-size: 1500px;
		background-repeat: repeat-y;
		background-repeat-y: ;
	min-height: 100vh;
	min-width: 80vw;
}

.subjectContainer 
{
	width: auto;
	min-width: 	35em;
	margin-left:  auto;
	margin-bottom: 0.9em;
	margin-right:  auto;
	border-radius: 0.5em;
	box-shadow: 6px 5px darkgrey;
	background-color:  #F3F6F4;
	overflow: hidden;
	border:  2px solid #394263;
}

.subjectContainer table 
{
	padding:  0px;
	width: 100%;
	margin: 0px;
	border-spacing: 0px;
	border-collapse: collapse;
}

.subjectContainer tr 
{
	line-height: 1em;
}

.primarySubjectTitle 
{
		background: #394263 url("../IMG/catOverlay.png");
		background-position-x: 100%;
		background-position-y: 100%;
		background-repeat: no-repeat;
	color:  #5dd4cd;
	padding-left: 0.7em;
}

.primarySubjectTitle p, .secondarySubjectTitle p 
{
	margin: 0px;
	font-weight: 600;
	font-family: "Trebuchet MS";
	width: max-content;
	font-size: 1.2em;
	margin-top: 1.2em;
	padding-bottom: 0em;
	
}

.secondarySubjectTitle p 
{
	color: #394263;
}

.secondarySubjectTitle 
{
	padding-left:  0.7em;
 background: rgb(93,212,205);
background: linear-gradient(82deg, rgba(93,212,205,1) 16%, rgba(255,255,255,1) 57%); 
	padding-bottom:  1.2em;
}


.collapseSubjectImg
{
	width: 1.5em;
	height: 1.5em;
	vertical-align: middle;
	position:  relative;
	right: 1px;
}

.collapseSubjectButton 
{
	position: relative;
	background-color: transparent;
	width: 5%;
	right: 5px;
	bottom: 1em;
	float:  right;
}

.subjectContainer a 
{
	
	text-decoration: none;
}

.subjectContainer a:hover 
{
	color: white;
}


