.headerIcon 
{
	padding-left: 4em;
	width: 60px;
	height: 60px;
}

.header h1 
{
	display: table-cell;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 39px;
	color: white;
}

table 
{
	padding: 1em 0px;
}

.header 		
{
	position: absolute;
	min-width: 40em;
	width: 100vw;
	height: 6em;
	top: 0px;
	background-color: #394263;
	margin: 0px;
	
}

button 
{
	font-size: 100%;
	border-radius: 25px;
	padding: 8px 16px;
	margin-top: 7px;
	background-color: rgb(57, 66, 99);
	color: white;
	border: 3px outset white;

}

#loginButtons 
{
	position: relative;
	right: 3em;
	width: 100%;
	align-content: 	right;
}

#signupButton
{
	margin-right: 1em;
}

#loginButton, #signupButton
{
	float: right;
}