body 
{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px;
}

html, body 
{
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

a:hover
{
	cursor: pointer;
}

.page 
{
	font-family: "Roboto";
		background: url("../IMG/whitepatternbackground.jpg");
		background-position: 100%;
		background-size: 1500px;
		background-repeat: repeat-y;
		height: 100%;

}

.footer 
{
	text-align: right;
	margin-left:  4.2em;
	height:  1em;
	margin: 0px;
	margin-right: 2.5em;
}

.footer h6 
{
	margin:  0px;
}


/* Content container / post container css */



.postText 
{
	overflow: hidden;
	height: 100%;
	width: 100%;
	max-height: 4.5em;
}

.contentContainer table, td
{
	padding:  0px;
}

.contentContainer table 
{
	width: 100%;
}

.postImageTD 
{
	height: 100%;
	min-width: 20%;
	max-width: 20%;
	padding-right: 1.5	em;
}

.postImage 
{
	max-height: 6em;
	max-width:  initial;
	border-radius: 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.postIcons 
{
	height: 25px;
	width: 25px;
}

/* General css */

.imageButton 
{
	border: none;
	margin: 0px;
	padding:  0px;
}

.floatLeft 
{
	float: left;
}

/* Sidebar related css */

.expandedSidebar, .collapsedSidebar 
{
	background-color: #394263;
	color: white;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100vh;
}
.expandedSidebar 
{
	display: none;
	min-height:  45em;
	width: 12em;
}

.collapsedSidebar 
{
	min-height:  45em;
	width: 3em;
}

.sbCollapseArrow 
{
	position:  relative;
	top:  6.5em;
	left:  9.5em;
}

.sbExpandArrow 
{
	position:  relative;
	top: 6.5em;
	right: -0.6em;
}

.sidebarArrowImg 
{
	width: 30px;
	height:  30px;
}

.sidebarContent 
{
	position: relative;
	top: 7em;
}

.expandedSidebar p 
{
	border-radius: 10px;
	border:  1px outset white;
	padding: 4px 8px;
	margin: 5px 20px;
	font-size: 100%;


}

.button 
{
	  background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
		text-align: center;
		transition: 0.5s;
		background-size: 200% auto;
		color: white;            
		box-shadow: 0 0 20px black;
		border: 1px outset white;
}

.button:hover 
{
		background-position: right center; /* change the direction of the change here */
		color: #fff;
		text-decoration: none;
}



.alert {
  position: absolute;
  bottom: 1em;
  left: 32em;
  min-width: 30em;
  width: 30em;
  padding: 12px 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 5px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  z-index: 999999;
  min-height: 1em;

}

.alert.alertSuccess {
  background-color: rgba(227, 253, 235, 1);
  border-color: rgba(38, 179, 3, 1);
  color: rgba(60, 118, 61, 1);
}

.alert.alertInfo {
  background-color: rgba(217, 237, 247, 1);
  color: rgba(49, 112, 143, 1);
  border-color: rgba(126, 182, 193, 1);
}


.alert.alertWarning {
  background-color: rgba(252, 248, 227, 1);
  border-color: rgba(177, 161, 129, 1);
  color: rgba(138, 109, 59, 1);
}

.alert.alertError {
  background-color: rgba(248, 215, 218, 1);
  border-color: rgba(220, 53, 69, 1);
  color: rgba(114, 28, 36,1);
}

.closeAlertBut 
{
	height: 20px;
	float: right;
}

.closeAlertImage 
{
	height: 100%;
	width: 100%;
}